@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --body-bg: hsl(217, 54%, 11%);
    --container-bg: hsl(216, 50%, 16%);
    --width: calc(280px * 0.9);
    --border-radius: 12px;
    --color: hsl(215, 32%, 27%);
    --hover-color: hsl(178, 100%, 50%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    background-color: var(--body-bg);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.container {
    width: var(--width);
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--container-bg);
    margin-top: 40px;
    padding: 0 17px;
    box-sizing: content-box;
    border-radius: var(--border-radius);
    box-shadow: 0 0 50px 7px hsl(215, 55%, 8%);
}

.image {
    width: var(--width);
    height: var(--width);
    background-image: url("images/image-equilibrium.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: var(--border-radius);
    cursor: pointer;
    position: relative;
    overflow: clip;
}

.image:hover::before {
    content: url("images/icon-view.svg");
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 255, 247, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

@property --per {
    syntax: "<percentage>";
    inherits: true;
    initial-value: 0%;
}
@supports not (--css: variables) {
  @-moz-document url-prefix() {
    @property --per {
      syntax: "<percentage>";
      inherits: true;
      initial-value: 0%;
    }
  }

h2 {
    width: fit-content;
    color: transparent;
    cursor: pointer;
    background: linear-gradient(45deg, var(--hover-color) var(--per), white calc(var(--per)));
    background-clip: text;
}

@keyframes animation {
    100% {
        --per: 100%;
    }
}

h2:hover {
    animation: animation 0.25s linear both;
}

p,
.price span:nth-child(2),
.profile {
    color: var(--color);
}

.price {
    display: flex;
    justify-content: space-between;
    position: relative;
}


.price span:nth-child(1) {
    font-weight: bold;
    color: var(--hover-color);
}

.price span:nth-child(1)::before {
    content: url("images/icon-ethereum.svg") " ";
    position: relative;
    top: 15%;
}

.price span:nth-child(2)::before {
    content: url("images/icon-clock.svg") " ";
    position: relative;
    top: 12%;
}

.price::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--color);
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
}

.profile {
    text-align: center;
    padding: 5px 0 0 0;
    position: relative;
}

.profile::before {
    content: "";
    width: 30px;
    height: 30px;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("images/image-avatar.png");
    background-size: contain;
}

.profile .name {
    font-weight: 700;
    color: transparent;
    background: linear-gradient(45deg, var(--hover-color) var(--per), white calc(var(--per)));
    background-clip: text;
    cursor: pointer;
}

.profile .name:hover {
    animation: animation 0.2s linear both;
}

.attribution {
    padding: 10px;
    color: white;
    font-size: 11px;
    text-align: center;
    background-color: var(--container-bg);
    border-radius: var(--border-radius);
}

.attribution a {
    text-decoration: none;
    cursor: pointer;
    color: var(--color);
}

.attribution a:hover {
    color: var(--hover-color);
    text-shadow: 0 0 2px white,
        0 0 7px var(--hover-color),
        0 0 10px var(--body-bg);
}



@media (max-height: 565px) {
    .container {
        margin-top: 10px;
    }
}
